@import 'tailwindcss';

:root {
  --background: #faf9f6;
  --foreground: #2f2f2f;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --font-script: var(--font-script);
  --font-serif: var(--font-serif);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
